

mixin commentItem(data)
  .comment-item(id="item-"+data.id)
    input(type="hidden", name="item-id", value=data.id)
    input(type="hidden", name="item-by", value=data.by)
    input(type="hidden", name="parent-id", value=data.parent)
    input(type="hidden", name="parent-by", value=data.parent)
    .header
      | #{data.by}
      | 
      a.ref(href="#item-"+data.id)
        | ##{data.id}
      span  | #{moment(data.time*1000).fromNow()}
      small.date  [#{moment(data.time*1000).format()}]
    .body
      a.ref(href="#item-"+data.parent)
        if data.parent == data.op
          small >>(OP)
        else
          small >>#{data.parentBy}
          small.preview
            | :
            | #{data.parentText}
      br
      if (data.text)
        | !{data.text}
      else
        small: em (no text)
    .footer
      .refs


mixin storyItem(data)
  .comment-item(id="item-"+data.id)
    input(type="hidden", name="item-id", value=data.id)
    input(type="hidden", name="parent-id", value="")
    .header
      a(href=data.url)
        | #{data.title} 
      | by #{data.by}
      br
      a(href=data.url)
        | #{data.url} 
    .body
      br
      | !{data.text}
    .footer
      .refs

mixin storyItemLink(data)
  .story-item-link
    .header
      a(href="/s/"+data.id)
        | #{data.title}
    .body
        | #{data.descendants} comments |
        | #{moment(data.time*1000).fromNow()}

mixin item(data)
  if data.type == "story"
    +storyItem(data)
  else if data.type == "comment"
    +commentItem(data)
  else
    .unknown-item
      span unknown item
      span= (data || "").toString()
